body {
    margin: 0;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
  }
  
  .light-mode {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  .dark-mode {
    --background-color: #121212;
    --text-color: #ffffff;
  }
  
  body.light-mode {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  body.dark-mode {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  .navbar {
    transition: background-color 0.5s;
  }
  
  .dark-mode .navbar {
    background-color: #333333;
  }
  
  .light-mode .navbar {
    background-color: #f8f9fa;
  }